@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin:0px;
}

.bg{
    background-color: #b1e6ff;
}

.center{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:auto;
    width:100%;
}

.container{
    border-radius: 50%;
    width:250px;
    padding: 25px;
}

.title{
    color:white;
    font-family: 'Jomhuria';
    font-size: 96pt;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
p{
    margin:0;
}

.button{
    background-color: blue;
    border-radius:10px;
    color:white;
    padding:5px;
    min-width: 100px;
    height: 45px;
    outline: none;
    border:none;
    cursor: pointer;
}

.button:active{
    background-color: navy;
}

.message{
    text-align: center;
    height: 5vh;
    margin:auto;
    font-family: 'Roboto', sans-serif;
}

.footer{
    position: absolute;
    margin:auto;
    margin-top:95vh;
    height:5vh;
    width:100%;
    align-items: center;
    justify-content: center;
    display:flex;
}

#Frame{
    width:50%;
}

#Cheese1{
    opacity: 0;
    animation:dropCheese 1s ease-in-out forwards;
    animation-delay:1s;
}
#Cheese2{
    opacity: 0;
    animation:Melt 1s ease-in-out forwards;
    animation-delay:5s;
}
#TopBread{
    opacity: 0;
    animation:dropTopSlice 1s ease-in-out forwards;
    animation-delay:2s;
}
#topFill{
    opacity: 100;
    fill:#FCDB9A;
    animation:Toast 1s ease-in-out forwards;
    animation-delay:3s;
    stroke:#8E6E1B;
}
#bottomFill{
    opacity: 100;
    animation:Toast 1s ease-in-out forwards;
    animation-delay: 3s;
    fill:#FCDB9A;
    stroke:#8E6E1B;
}
#topCrust1{
    opacity: 100;
    fill:#D0B174;
    animation:ToastCrust 1s ease-in-out forwards;
    animation-delay:3s;
    stroke:#8E6E1B;
}
#topCrust2{
    opacity: 100;
    fill:#D0B174;
    animation:ToastCrust 1s ease-in-out forwards;
    animation-delay:3s;
    stroke:#8E6E1B;
}
#bottomCrust1{
    opacity: 100;
    fill:#D0B174;
    animation:ToastCrust 1s ease-in-out forwards;
    animation-delay:3s;
    stroke:#8E6E1B;
}
#bottomCrust2{
    opacity: 100;
    fill:#D0B174;
    animation:ToastCrust 1s ease-in-out forwards;
    animation-delay:3s;
    stroke:#8E6E1B;
}

    

@keyframes dropCheese {
    0%{
        opacity: 20;
        transform: translate(0px,-200px);
    }
    100%{
        opacity: 100;
        transform: translate(0px,0px);
    }

}

@keyframes dropTopSlice {
    0%{
        opacity: 20;
        transform: translate(0px,-200px);
    }
    100%{
        opacity: 100;
        transform: translate(0px,0px);
    }
}

@keyframes Toast {
    0%{
        fill:#FCDB9A;
        stroke:#8E6E1B;
    }
    100%{
        fill:#dfbb73;
        stroke: #4F3D0E;
    }
}

@keyframes ToastCrust {
    0%{
        fill:#D0B174;
        stroke:#8E6E1B;
    }
    100%{
        fill:#8B764D;
        stroke: #4F3D0E;
    }
}

@keyframes Melt {
    0%{
        opacity:0;
    }
    100%{
        opacity:100;
    }
}